# Docker
.dockerignore
Dockerfile

# Node
node_modules
npm-debug.log

# Environment
.env
credentials.json

# WhatsApp Session
.wwebjs_auth
.wwebjs_cache

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Git
.git
.gitignore
